// 주요 색깔 변수
$color-main-bg: #1abc9c;
$color-main-text: #1abc9c;

$text-color-main: #333;
$text-color-sub1: #aaa;
$text-color-sub2: black;

$bg-color-0: #fff;
$bg-color-1: #eee;
$bg-color-2: #ddd;
$bg-color-3: #aaa;

$font-size-normal: 16px;
