// 주요 색깔 변수
$color-main-bg: #1abc9c;
$color-main-text: #1abc9c;

$color-g-1: #b8e994;
$color-g-2: #78e08f;
$color-g-3: #38ada9;

$color-b-1: #60a3bc;
$color-b-2: #3c6382;
$color-b-3: #0a3d62;

$text-color-main: #333;
$text-color-sub1: #aaa;
$text-color-sub2: black;
$text-color-sub3: #777;
$text-color-white: white;

$bg-color-0: #fff;
$bg-color-1: #eee;
$bg-color-2: #ddd;
$bg-color-3: #aaa;
$bg-color-dummy: #f9f9f9;

$bg-color-dark-0: #242729;

$color-delete: #e74c3c;

$font-size-normal: 16px;

$max-width: 1280px;
$max-width-2: 1020px;
$min-width: 960px;

$post-width: 768px;
$post-margin: 256px;

$min-width-popup: 500px;

$min-height-popup: 630px;

$grid-trans-1: 1150px;
$grid-trans-2: 1000px;

$box-shadow: 2px 2px 10px silver;
