// 주요 색깔 변수
$color-main-bg: #1abc9c;
$color-main-text: #1abc9c;

$text-color-main: #333;
$text-color-sub1: #aaa;
$text-color-sub2: black;
$text-color-sub3: #777;
$text-color-white: white;

$bg-color-0: #fff;
$bg-color-1: #eee;
$bg-color-2: #ddd;
$bg-color-3: #aaa;

$font-size-normal: 16px;

$max-width: 1280px;
$min-width: 960px;

$min-width-popup: 500px;

$min-height-popup: 630px;

$grid-trans-1: 1150px;
$grid-trans-2: 1000px;
