.nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      width: 80px;
      height: 100%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &:last-child {
        border: 0;
      }
      &:hover {
        border-bottom: 2px solid $color-main-bg;
      }

      &:hover a {
        color: $color-main-text;
        transition: all 0.5s;
      }
    }
  }
}
