// 태그 추가 창
.tags-popup {
  width: 500px;
  position: absolute;
  top: 40px;
  left: 10px;
  border: 1px solid $bg-color-2;
  border-top: 0;
  padding: 10px;
  z-index: 2;
  background-color: $bg-color-0;

  .tags-popup__column {
    margin: 0 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $bg-color-2;

    input {
      height: 30px;
    }

    input[type="text"] {
      width: 75%;
      padding: 5px;
      border: 1px solid $bg-color-2;
      border-radius: 5px;
      outline: 0;
    }

    input[type="button"] {
      width: 20%;

      border: 1px solid $bg-color-2;
      border-radius: 5px;
      background-color: $bg-color-0;
      cursor: pointer;

      &:hover {
        border: 1px none;
        color: $text-color-white;
        background-color: $color-main-bg;
      }
    }
  }

  .tags-list--btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    input[type="button"] {
      width: 80%;
      margin: 5px 0;
    }
  }
}

// 태그 추가 창
.cates-popup {
  width: 500px;
  position: absolute;
  top: 40px;
  left: 10px;
  border: 1px solid $bg-color-2;
  border-top: 0;
  z-index: 2;
  background-color: $bg-color-0;

  .cates-popup__column {
    margin: 0 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $bg-color-2;

    input {
      height: 30px;
    }

    input[type="text"] {
      width: 75%;
      padding: 5px;
      border: 1px solid $bg-color-2;
      border-radius: 5px;
      outline: 0;
    }

    input[type="button"] {
      width: 20%;
      border: 1px solid $bg-color-2;
      border-radius: 5px;
      background-color: $bg-color-0;
      cursor: pointer;

      &:hover {
        border: 1px none;
        color: $text-color-white;
        background-color: $color-main-bg;
      }
    }
  }

  .cates-list--btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    input[type="button"] {
      width: 80%;
      margin: 5px 0;
    }
  }
}
