// main page - notice area
.notice {
  width: 100%;
  height: 200px;
  background-color: #dddddd;
  margin-top: 20px;
}

// main page - preview area
.preview {
  background-color: #dddddd;
  margin-top: 20px;
  min-height: 100%;

  .preview__menu {
    height: 40px;
    background-color: #eee;
  }
  .preview__info {
    height: 40px;
    background-color: #eee;
    margin: 5px 0;
  }
  .preview__articles {
    width: 1280px;
    min-height: 600px;
    height: auto;
    background-color: #999;
    padding: 0 1%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    .preview__article {
      width: 250px;
      height: 90%;
      background-color: #fff;
    }
  }
}
