// main page - notice area
.notice {
  width: 100%;
  height: 200px;
  background-color: #dddddd;
  margin-top: 20px;
}

// main page - preview area
.preview {
  background-color: #dddddd;
  margin-top: 20px;
  min-height: 100%;

  .preview__menu {
    height: 40px;
    background-color: #eee;
  }
  .preview__info {
    height: 40px;
    background-color: #eee;
    margin: 5px 0;
  }
  .preview__articles {
    max-width: $max-width;
    min-width: $min-width;
    min-height: 600px;
    height: auto;
    background-color: $bg-color-0;
    padding: 0 1%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 300px;
    justify-items: center;
    align-items: center;

    .preview__article {
      width: 240px;
      height: 270px;
      background-color: #fff;
      border: 1px solid $bg-color-2;
      transition: 0.2s all;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
        transform: translateY(-2px);
      }

      .article-thumbnail {
        position: relative;
        width: 100%;
        height: 135px;
        overflow-y: hidden;

        img {
          width: 100%;
          height: 100%;
          border-bottom: 1px solid $bg-color-2;
        }

        .article-categories {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          padding: 5px;
          overflow-x: auto;
          overflow-y: hidden;
          text-align: left;

          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
          }

          .article-category {
            display: inline-block;
            font-size: 0.75em;
            border: 1px none;
            border-radius: 5px;
            margin: 2px;
            padding: 3px;
            background-color: rgba(0, 0, 0, 0.2);
            color: $text-color-white;
            opacity: 0.8;
          }
        }
      }

      .article-title {
        font-size: 0.85rem;
        line-height: 1.2;
        height: 20px;
        padding: 2px 10px;
        margin: 5px 0;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
      }

      .article-contents {
        height: 50px;
        padding: 2px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;

        div,
        span,
        object,
        iframe,
        figure,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        code,
        em,
        img,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        b,
        u,
        i,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        main,
        canvas,
        embed,
        footer,
        header,
        nav,
        section,
        video {
          font-size: 0.75rem;
          font-weight: normal;
          margin: 0;
          padding-right: 6px;
          border: 0;
          display: inline;
          word-break: break-all;
        }
        hr,
        br,
        pre,
        code {
          display: none;
        }

        .wmde-markdown {
          margin: 0;
        }
      }

      .article-tags {
        font-size: 0.75em;
        height: 25px;
        margin: 3px 10px;
        padding: 2px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none; /* Chrome, Safari, Opera*/
        }

        .article-tag {
          background-color: $text-color-white;
          color: $color-main-text;
          margin-right: 5px;
          border: 1px solid $color-main-bg;
          border-radius: 5px;
          padding: 3px 5px;
        }
      }

      .article-info {
        height: 20px;
        padding: 2px 10px;
        font-size: 0.65em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $text-color-sub3;

        .article-modifiedAt {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .article-user {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: $bg-color-2;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }

          i {
            font-size: 0.6rem;
            color: $bg-color-3;
          }
        }
      }
    }

    .preview__dummy {
      border: 1px none;
      background-color: $bg-color-dummy;
      cursor: default;
      &:hover {
        background-color: $bg-color-dummy;
        transform: none;
      }
    }

    @media screen and(max-width: $max-width) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and(max-width: $max-width-2) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
