.write {
  height: 95vh;
  max-width: $max-width;
  min-width: $min-width;
  min-height: 1000px;
  background-color: $bg-color-0;
  margin: 10px auto;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .write__column {
    height: 100%;
    width: 100%;

    &:first-child {
      height: 250px;
    }

    &:last-child {
      height: calc(100% - 250px);
    }
  }

  // write-form
  .write-form {
    height: 100%;
    padding: 10px;

    form {
      height: 100%;
    }

    .write-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 10px 0;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .write-title__column {
        width: 33%;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 0.9rem;
          color: $text-color-sub1;
        }

        &:first-child {
          justify-content: flex-start;
        }

        &:last-child {
          justify-content: flex-end;

          button {
            width: 100px;
            height: 100%;
            background-color: $bg-color-0;
            margin-left: 10px;
            border: 1px solid $bg-color-2;
            border-radius: 20px;
            padding: 5px;
            font-size: 0.8rem;
            font-weight: bold;

            &:last-child {
              background-color: $color-main-bg;
              color: $bg-color-0;
            }
          }
        }
      }
    }

    .write-contents {
      height: 200px;
      padding: 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .write-form__column {
        height: 100%;

        &:first-child {
          width: 20%;
          min-width: 240px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:last-child {
          width: 80%;
        }

        // 썸네일 영역
        .thumbnail-preview {
          position: relative;
          width: 240px;
          height: 135px;
          background-color: $bg-color-1;
          margin: 0 auto;

          img {
            width: 100%;
            height: 100%;
          }

          label {
            color: $text-color-main;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid $bg-color-1;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.1s all;

            &:hover {
              background-color: $bg-color-3;
              color: $text-color-white;
              opacity: 0.5;
            }
          }

          input[type="file"] {
            width: 0;
            height: 0;
          }
        }

        // 제목 입력 영역
        .form-title {
          input {
            height: 70px;
            width: 100%;
            border: 0;
            padding: 0 10px;
            outline: none;
            font-size: 2rem;
            font-weight: bold;
          }
        }

        // 태그 입력 영역
        .write-tags {
          position: relative;
          height: 40px;
          padding: 0 10px;
          margin-bottom: 10px;
          display: flex;
          align-items: center;

          .tags-list {
            width: 85%;
            height: 100%;
            background-color: $bg-color-0;
            padding: 5px 10px;
            border: 1px solid $bg-color-1;
            border-radius: 5px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow-x: auto;

            .tag-list {
              margin-right: 5px;
              padding: 5px 10px;
              border: 1px solid $bg-color-2;
              border-radius: 20px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              white-space: nowrap;

              .tag-delete {
                font-size: 0.7rem;
                color: $text-color-sub1;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                  color: $color-delete;
                }
              }
            }
          }

          .write-add-tags {
            height: 100%;
            width: 120px;
            margin-left: 15px;
            padding: 5px;
            border: 1px solid $bg-color-2;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
              background-color: $color-main-bg;
              color: $text-color-white;
              border: 1px none;
            }
          }
        }

        // 카테고리 입력 영역
        .write-category {
          position: relative;
          height: 40px;
          padding: 0 10px;
          display: flex;
          align-items: center;

          .cate-lists {
            width: 85%;
            height: 100%;
            background-color: $bg-color-0;
            padding: 5px 10px;
            border: 1px solid $bg-color-1;
            border-radius: 5px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow-x: auto;

            .cate-list {
              width: auto;
              margin-right: 5px;
              padding: 5px 10px;
              border: 1px solid $bg-color-2;
              border-radius: 20px;
              display: flex;
              flex-basis: auto;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center;
              white-space: nowrap;

              .cate-delete {
                font-size: 0.7rem;
                color: $text-color-sub1;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                  color: $color-delete;
                }
              }
            }
          }

          .write-cate-tags {
            height: 100%;
            min-width: 120px;
            margin-left: 15px;
            padding: 5px;
            border: 1px solid $bg-color-2;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
              background-color: $color-main-bg;
              color: $text-color-white;
              border: 1px none;
            }
          }
        }
      }
    }
  }

  // wite-addon
  .write-addon {
    height: 50px;
    padding: 0 10px;
    border-top: 1px solid $bg-color-2;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .write-addon__column {
      position: relative;
      width: 100px;
      border: 1px solid $bg-color-2;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      transition: 0.1s all;

      &:hover {
        background-color: $color-main-bg;
        border: 1px none;
      }

      label {
        color: $text-color-main;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $bg-color-1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.1s all;

        &:hover {
          color: $text-color-white;
        }
      }

      input[type="file"] {
        width: 0;
        height: 0;
      }
    }
  }

  // .w-md-editor
  .w-md-editor {
    height: calc(100% - 50px) !important;

    .w-md-editor-content {
      height: calc(100% - 30px) !important;
    }

    .w-md-editor-toolbar {
      div {
        font-weight: bold;
      }
    }
    li {
      min-height: 20px;
    }

    .fa-image {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;

      label {
        color: $text-color-main;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $bg-color-1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.1s all;
      }

      input[type="file"] {
        width: 0;
        height: 0;
      }
    }
  }

  .w-md-editor-bar {
    display: none;
  }

  .w-md-editor-input {
    width: 49.5%;
  }

  .w-md-editor-preview {
    width: 50.5%;
    max-width: $post-width;
  }

  .w-md-editor-show-preview {
    .w-md-editor-preview {
      margin: 0 $post-margin;
    }
  }

  // 풀스크린
  .w-md-editor-fullscreen {
    height: 100% !important;

    .w-md-editor-content {
      height: 100% !important;
    }
  }
}
