@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@100;300;400&display=swap");
body {
  margin: 0;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  background-color: #eee;
}

.contents {
  background-color: #fff;
  max-width: 1280px;
  width: 100%;
  min-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
}

a {
  height: 100%;
  width: 100%;
  color: $text-color-sub1;
  text-decoration: none;
  font-size: $font-size-normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
